
/**
 * JavaFX CSS Brume, light grey/white theme.
 */

.titled-pane {
    -fx-effect: dropshadow(three-pass-box, #9F9F9F, 15, 0, 0, 0);
    -fx-animated: true;
    -fx-text-fill: #505050;
}

.titled-pane .title  {
    -fx-background-radius: 0, 0, 0;
    -fx-font: bold 14px System;
    -fx-padding: 0.3em 0.833333em 0.35em 0.833333em;


}

.titled-pane:focused > .title > .arrow-button .arrow {
    /* do not highlight the title pane arrow on focus */
    -fx-background-color: #606060;
}

.tree-cell:odd {
    /* shade every other line in a tree view */
    -fx-background-color: derive(-fx-control-inner-background,-5%);
}

/* the previous css to shade every other cell overrides the selection
   colour, so put it back for odd cells */
.tree-view:focused .tree-cell:filled:focused:selected:odd{
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar;
}

/*  if you have labels within your tree nodes, then make the text light so
    that it stands out from the selection colour. */
.tree-view:focused .tree-cell:filled:focused:selected:odd .label {
    -fx-text-fill: -fx-light-text-color;
}
.tree-view:focused .tree-cell:filled:focused:selected:even .label {
    -fx-text-fill: -fx-light-text-color;
}

.button {
    /* buttons do not have rounded corners */
    -fx-background-radius: 0;
    -fx-label-padding: 0.3em 0.833333em 0.35em 0.833333em;
}

.menu-button {
    /* the left side of the menu button is not rounded */
    -fx-background-radius: 0 5 5 0, 0 5 5 0, 0 4 4 0, 0 3 3 0;
}

.menu-button .label {
    -fx-label-padding: 0.23em 0.2em 0.24em 0.2em;
}

.combo-box-base  {
    /* the left side of the combo box is not rounded */
    -fx-background-radius: 0 5 5 0, 0 5 5 0, 0 4 4 0, 0 3 3 0;
}

.combo-box .list-cell {
    /* -fx-padding: 6 6 6 6; */
}

/* make the tooltip a slightly transparent black rectange with white text */
.tooltip {
    -fx-background-color: black;
    -fx-opacity: 0.6;
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 0;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-wrap-text:false;
}
.tooltip .label {
    -fx-text-fill: white;
}
/* remove the turned page effect */
.page-corner {
    -fx-padding: 0;
    -fx-background-color: null;
    -fx-shape: null;
    -fx-effect: null;
}

.toggle-button {
    -fx-background-radius: 0;
    -fx-label-padding: 0.3em 0.833333em 0.35em 0.833333em;
}
.check-box {
    -fx-background-radius: 0;
}

.choice-box {
    /* TODO add padding */
    -fx-background-radius: 0;
}